/* ::::: http://free.avg.com/stc/tpl/crp/css/full-free.css ::::: */

body { margin: 30px 0pt 20px; padding: 0pt; background: rgb(235, 245, 252) url('body_bg.jpg') repeat-x; }
#env { margin: 0pt auto; padding: 140px 0pt 0pt; background: transparent url('env_bg.jpg') repeat-y; position: relative; width: 702px; }
#main { background: transparent url('main_bg.jpg') no-repeat; padding-top: 5px; width: 702px; min-height: 350px; }
#mayor { padding: 11px; }
#foot { padding: 0pt 11px; background: transparent url('foot_bg.png') no-repeat scroll 0pt 100%; height: 49px; width: 680px; color: rgb(80, 98, 115); font-size: 11px; clear: both; }
#foot a { font-weight: normal; color: rgb(80, 98, 115); padding-left: 0pt; background-image: none; }
#foot div { padding: 8px 0pt 0pt 10px; line-height: 16px; text-align: center; }
#promo { background: transparent url('promo_bg.jpg') no-repeat; position: absolute; top: -3.75pt; left: -3.75pt; height: 142px; width: 706px; z-index: 3; }
#loginbox { padding: 2px 0pt 0pt 20px; background: transparent url('ico_uahead.gif') no-repeat; position: absolute; top: 45px; right: 15px; min-height: 18px; z-index: 8; }
#loginbox a.del { margin-left: 5px; }
#nav2 { padding: 0pt 8px 0pt 30px; background: transparent url('mnu2_bg_left_right.gif') no-repeat; position: absolute; top: 130px; left: 14px; height: 32px; width: 641px; z-index: 5; }
#nav1 { background: transparent url('mnu1_bg_left_right.gif') no-repeat; position: absolute; top: 97px; right: 12px; height: 33px; width: 672px; padding-right: 7px; z-index: 4; }
#search { position: absolute; width: 688px; height: 23px; left: 4px; top: 12px; z-index: 9; font-size: 10px; color: rgb(79, 99, 114); }
#search div { float: right; }
#search input { border: 1px solid rgb(182, 202, 217); vertical-align: middle; font-size: 10px; background-color: rgb(236, 244, 249); color: rgb(79, 99, 114); font-family: Verdana,sans-serif; }
#search a, #search a:hover { color: rgb(79, 99, 114); padding-left: 0pt; text-decoration: none; background-image: none; }
#search a:hover { color: black; text-decoration: underline; }
#search form { display: inline; line-height: 100%; }
#sfbtn { border: medium none  ! important; background-color: transparent ! important; }
#sftxt { margin: 0pt 1px 0pt 0px; }
.srch { height: 13px; }
.hpfx {  }
#logo { overflow: hidden; position: absolute; width: 651px; height: 100px; top: 15px; left: 7px; z-index: 6; }
a.logo { display: block; width: 500px; height: 80px; text-decoration: none; }
.motto_pl { background: transparent url('avg_logo_pl.gif') no-repeat; }
.motto_la-es { background: transparent url('avg_logo_la-es.gif') no-repeat; }
.motto_br-pt { background: transparent url('avg_logo_br-pt.gif') no-repeat; }
.motto_fr { background: transparent url('avg_logo_fr.gif') no-repeat; }
.motto_de { background: transparent url('avg_logo_de.gif') no-repeat; }
.motto_it { background: transparent url('avg_logo_it.gif') no-repeat; }
.motto_jp { background: transparent url('avg_logo_en.png') no-repeat; }
.motto { background: transparent url('avg_logo_en.png') no-repeat; }
.promotext { margin-left: 60px; color: rgb(0, 57, 107); }
hr.clear, br.clear { border: medium none ; margin: 0pt ! important; visibility: hidden; clear: both; line-height: 1px; }
#mnu1 { margin: 0pt; padding: 0pt; height: 33px; }
#mnu1 { background: transparent none repeat; }
#mnu1 li { margin: 0pt; padding: 0pt 0pt 0pt 15px; background: transparent url('mnu1_bg_ext.gif') repeat-x; list-style-type: none; list-style-image: none; list-style-position: outside; white-space: nowrap; font-size: 11px; float: right; line-height: 30px; }
#mnu1 li.active, #mnu1 li.last-active { background: transparent url('mnu1_bg_left_act.gif') no-repeat; }
#mnu1 li.first-active { background: transparent url('mnu1_bg_first_act.gif') no-repeat; }
#mnu1 li.first { background: transparent url('mnu1_bg_first.gif') no-repeat scroll 0pt 0px; }
#mnu1 a { padding: 0pt 12px 0pt 0pt; background: transparent none repeat; display: block; text-decoration: none; color: rgb(0, 57, 107); font-weight: normal; }
#mnu1 a.active, #mnu1 a.first-active, #mnu1 a.last-active { background: transparent url('mnu1_bg_right_act.gif') no-repeat scroll 100% 0pt; font-weight: bold; color: white; }
#mnu2 { margin: 0pt; padding: 0pt; height: 32px; }
#mnu2 li, #mnu2 li.active { margin: 0pt; padding: 0pt 0pt 0pt 12px; list-style-type: none; list-style-image: none; list-style-position: outside; float: left; white-space: nowrap; font-size: 11px; line-height: 32px; }
#mnu2 li { background: transparent url('mnu2_tab.gif') no-repeat scroll 100% 0pt; }
#mnu2 li.active { background: white url('mnu2_tab_active_left.gif') no-repeat; position: relative; line-height: 33px; left: -2px; height: 32px; }
#mnu2 a, #mnu2 a.active { padding: 0pt 12px 0pt 0pt; background: transparent none repeat; display: block; text-decoration: none; font-weight: bold; color: white; }
#mnu2 a.active { background: transparent url('mnu2_tab_active_right.gif') no-repeat scroll 100% 0pt; color: rgb(0, 57, 107); }
body { color: rgb(47, 47, 47); }
h1, h2.form_label, .sh1, h2.box { color: rgb(0, 57, 103); }
h2, a, th, .sh2, strong.tip, b.tip { color: rgb(5, 100, 173); }
h3, .sh3 { color: rgb(33, 71, 118); }
.date { color: rgb(80, 98, 115); }
a:hover { color: rgb(6, 0, 0); }
.warning, .flb_err { color: rgb(207, 17, 0); }
.price { color: rgb(80, 98, 115); }
em, .hlt { background-color: rgb(249, 193, 156); }
div.faq_gen em { background-color: transparent; font-weight: normal; font-style: italic; }
body, h2, h3, .sh2, strong.tip, b.tip { font-family: Verdana,Arial,Helvetica,sans-serif; }
h1, h2.form_label, .sh1, h2.box { font-family: "Trebuchet MS",Verdana,sans-serif; }
body { font-size: 11px; line-height: 138%; }
h1, h1.line, h2.form_label, .sh1, h2.box { font-size: 17px; letter-spacing: 0.02em; }
h1, h1.line, h2.form_label, .sh1 { line-height: 20px; }
h2.form_label { font-size: 16px; }
h2.box { font-size: 16px; letter-spacing: normal ! important; }
h2, h2.line, .sh2, strong.tip, b.tip, .fntbig { font-size: 12px; }
h3, h3.line, .sh3 { font-size: 11px; }
.date { font-size: 10px; }
em, .hlt { font-style: normal; }
.fntbigger { font-size: 13px ! important; }
.fntbiggest { font-size: 14px ! important; }
h1, h1.line, h2.box { margin: 11px 0pt; }
h2, h2.line { margin: 1px 0pt; }
h3, h3.line { margin: 1px 0pt; }
h1, h2, h3 { padding-left: 10px; }
.sh1, .sh2, .sh3 { margin-left: 10px; }
h1.line, h2.line, h3.line { margin-left: 10px; padding-left: 0pt ! important; }
p { margin: 0pt 0pt 15px; }
p { padding: 0pt 10px; }
h2.form_label { padding: 0pt ! important; }
h2.form_label span { padding: 10px; }
hr.hidden { display: none; }
td { padding: 6px 10px; }
a img { border: medium none  ! important; }
h1.line, h2.line, h3.line { background: white url('heading_bg.gif') repeat-x scroll right center; }
h1.line span, h2.line span, h3.line span, .prdhdr span { background-image: none; background-color: white; padding-right: 6px; }
h1, h2, h3, h1.line, h2.line, h3.line { clear: both; }
h1.prdhdr, h2.prdhdr, h3.prdhdr { background-repeat: no-repeat; padding-left: 25px; margin-top: 12px; margin-left: 10px; background-position: 0% 50%; line-height: 19px; }
h1.info, h2.info, h3.info { background-image: url('h1_info.gif'); }
h1.pzl, h2.pzl, h3.pzl { background-image: url('h1_pzl.gif'); }
h1.sup, h2.sup, h3.sup { background-image: url('h1_sup.gif'); }
h1.lic, h2.lic, h3.lic { background-image: url('h1_lic.gif'); }
h1.more, h2.more, h3.more { background-image: url('h1_more.gif'); }
h1.inst, h2.inst, h3.inst { background-image: url('h1_inst.gif'); }
h1.doc, h2.doc, h3.doc { background-image: url('h1_doc.gif'); }
h1.upd, h2.upd, h3.upd { background-image: url('h1_upd.gif'); }
h1.tick, h2.tick, h3.tick { background-image: url('h1_tick.gif'); }
h1.lng, h2.lng, h3.lng { background-image: url('h1_lng.gif'); }
h1.qst, h2.qst, h3.qst { background-image: url('h1_qst.gif'); }
h1.srch, h2.srch, h3.srch { background-image: url('h1_srch.gif'); }
h1.warn, h2.warn, h3.warn { background-image: url('h1_warn.gif'); }
h1.cross, h2.cross, h3.cross { background-image: url('h1_cross.gif'); }
h1.bulb, h2.bulb, h3.bulb { background-image: url('h1_bulb.gif'); }
h1.home, h2.home, h3.home { background-image: url('h1_home.gif'); }
h1.business, h2.business, h3.business { background-image: url('h1_business.gif'); }
h1.cross_alt, h2.cross_alt, h3.cross_alt { background-image: url('h1_cross_alt.gif'); }
h1.shield, h2.shield, h3.shield { background-image: url('h1_shield.gif'); }
h1.tick_alt, h2.tick_alt, h3.tick_alt { background-image: url('h1_tick_alt.gif'); }
h1.tech, h2.tech, h3.tech { background-image: url('h1_tech.gif'); }
h1.comp, h2.comp, h3.comp { background-image: url('h1_comp.gif'); }
h1.save, h2.save, h3.save { background-image: url('h1_save.gif'); }
h1.world, h2.world, h3.world { background-image: url('h1_world.gif'); }
h1.cart, h2.cart, h3.cart { background-image: url('h1_cart.gif'); }
h1.rec, h2.rec, h3.rec { background-image: url('h1_rec.gif'); }
h1.auto, h2.auto, h3.auto { background-image: url('h1_auto.gif'); }
h1.allinone, h2.allinone, h3.allinone { background-image: url('h1_allinone.gif'); }
h1.dwn, h2.dwn, h3.dwn { background-image: url('h1_dwn.gif'); }
h1.danger, h2.danger, h3.danger { background-image: url('h1_danger.gif'); }
h1.safe, h2.safe, h3.safe { background-image: url('h1_safe.gif'); }
h1.logo, h2.logo, h3.logo { background-image: url('h1_logo.gif'); }
h1.user, h2.user, h3.user { background-image: url('h1_user.gif'); }
h1.users, h2.users, h3.users { background-image: url('h1_users.gif'); }
h1.awarded, h2.awarded, h3.awarded { background-image: url('h1_awarded.gif'); }
h1.video, h2.video, h3.video { background-image: url('h1_video.gif'); }
h1.antivirus, h2.antivirus, h3.antivirus { background-image: url('h1_antivirus.gif'); }
h1.antispyware, h2.antispyware, h3.antispyware { background-image: url('h1_antispyware.gif'); }
h1.antispam, h2.antispam, h3.antispam { background-image: url('h1_antispam.gif'); }
h1.antirootkit, h2.antirootkit, h3.antirootkit { background-image: url('h1_antirootkit.gif'); }
h1.firewall, h2.firewall, h3.firewall { background-image: url('h1_firewall.gif'); }
h1.webshield, h2.webshield, h3.webshield { background-image: url('h1_webshield.gif'); }
h1.linkscanner, h2.linkscanner, h3.linkscanner { background-image: url('h1_linkscanner.gif'); }
h1.safedwn, h2.safedwn, h3.safedwn { background-image: url('h1_safedwn.gif'); }
h1.safeinstmess, h2.safeinstmess, h3.safeinstmess { background-image: url('h1_safeinstmess.gif'); }
h1.safesearch, h2.safesearch, h3.safesearch { background-image: url('h1_safesearch.gif'); }
h1.safesurf, h2.safesurf, h3.safesurf { background-image: url('h1_safesurf.gif'); }
h1.phone, h2.phone, h3.phone { background-image: url('h1_phone.gif'); }
h1.info_ln, h2.info_ln, h3.info_ln { background-image: url('h1_info_ln.gif'); }
h1.pzl_ln, h2.pzl_ln, h3.pzl_ln { background-image: url('h1_pzl_ln.gif'); }
h1.sup_ln, h2.sup_ln, h3.sup_ln { background-image: url('h1_sup_ln.gif'); }
h1.lic_ln, h2.lic_ln, h3.lic_ln { background-image: url('h1_lic_ln.gif'); }
h1.more_ln, h2.more_ln, h3.more_ln { background-image: url('h1_more_ln.gif'); }
h1.inst_ln, h2.inst_ln, h3.inst_ln { background-image: url('h1_inst_ln.gif'); }
h1.doc_ln, h2.doc_ln, h3.doc_ln { background-image: url('h1_doc_ln.gif'); }
h1.upd_ln, h2.upd_ln, h3.upd_ln { background-image: url('h1_upd_ln.gif'); }
h1.tick_ln, h2.tick_ln, h3.tick_ln { background-image: url('h1_tick_ln.gif'); }
h1.lng_ln, h2.lng_ln, h3.lng_ln { background-image: url('h1_lng_ln.gif'); }
h1.qst_ln, h2.qst_ln, h3.qst_ln { background-image: url('h1_qst_ln.gif'); }
h1.srch_ln, h2.srch_ln, h3.srch_ln { background-image: url('h1_srch_ln.gif'); }
h1.warn_ln, h2.warn_ln, h3.warn_ln { background-image: url('h1_warn_ln.gif'); }
h1.cross_ln, h2.cross_ln, h3.cross_ln { background-image: url('h1_cross_ln.gif'); }
h1.bulb_ln, h2.bulb_ln, h3.bulb_ln { background-image: url('h1_bulb_ln.gif'); }
h1.home_ln, h2.home_ln, h3.home_ln { background-image: url('h1_home_ln.gif'); }
h1.business_ln, h2.business_ln, h3.business_ln { background-image: url('h1_business_ln.gif'); }
h1.cross_alt_ln, h2.cross_alt_ln, h3.cross_alt_ln { background-image: url('h1_cross_alt_ln.gif'); }
h1.shield_ln, h2.shield_ln, h3.shield_ln { background-image: url('h1_shield_ln.gif'); }
h1.tick_alt_ln, h2.tick_alt_ln, h3.tick_alt_ln { background-image: url('h1_tick_alt_ln.gif'); }
h1.tech_ln, h2.tech_ln, h3.tech_ln { background-image: url('h1_tech_ln.gif'); }
h1.comp_ln, h2.comp_ln, h3.comp_ln { background-image: url('h1_comp_ln.gif'); }
h1.save_ln, h2.save_ln, h3.save_ln { background-image: url('h1_save_ln.gif'); }
h1.world_ln, h2.world_ln, h3.world_ln { background-image: url('h1_world_ln.gif'); }
h1.cart_ln, h2.cart_ln, h3.cart_ln { background-image: url('h1_cart_ln.gif'); }
h1.rec_ln, h2.rec_ln, h3.rec_ln { background-image: url('h1_rec_ln.gif'); }
h1.auto_ln, h2.auto_ln, h3.auto_ln { background-image: url('h1_auto_ln.gif'); }
h1.allinone_ln, h2.allinone_ln, h3.allinone_ln { background-image: url('h1_allinone_ln.gif'); }
h1.dwn_ln, h2.dwn_ln, h3.dwn_ln { background-image: url('h1_dwn_ln.gif'); }
h1.danger_ln, h2.danger_ln, h3.danger_ln { background-image: url('h1_danger_ln.gif'); }
h1.safe_ln, h2.safe_ln, h3.safe_ln { background-image: url('h1_safe_ln.gif'); }
h1.logo_ln, h2.logo_ln, h3.logo_ln { background-image: url('h1_logo_ln.gif'); }
h1.user_ln, h2.user_ln, h3.user_ln { background-image: url('h1_user_ln.gif'); }
h1.users_ln, h2.users_ln, h3.users_ln { background-image: url('h1_users_ln.gif'); }
h1.awarded_ln, h2.awarded_ln, h3.awarded_ln { background-image: url('h1_awarded_ln.gif'); }
h1.video_ln, h2.video_ln, h3.video_ln { background-image: url('h1_video_ln.gif'); }
h1.antivirus_ln, h2.antivirus_ln, h3.antivirus_ln { background-image: url('h1_antivirus_ln.gif'); }
h1.antispyware_ln, h2.antispyware_ln, h3.antispyware_ln { background-image: url('h1_antispyware_ln.gif'); }
h1.antispam_ln, h2.antispam_ln, h3.antispam_ln { background-image: url('h1_antispam_ln.gif'); }
h1.antirootkit_ln, h2.antirootkit_ln, h3.antirootkit_ln { background-image: url('h1_antirootkit_ln.gif'); }
h1.firewall_ln, h2.firewall_ln, h3.firewall_ln { background-image: url('h1_firewall_ln.gif'); }
h1.webshield_ln, h2.webshield_ln, h3.webshield_ln { background-image: url('h1_webshield_ln.gif'); }
h1.linkscanner_ln, h2.linkscanner_ln, h3.linkscanner_ln { background-image: url('h1_linkscanner_ln.gif'); }
h1.safedwn_ln, h2.safedwn_ln, h3.safedwn_ln { background-image: url('h1_safedwn_ln.gif'); }
h1.safeinstmess_ln, h2.safeinstmess_ln, h3.safeinstmess_ln { background-image: url('h1_safeinstmess_ln.gif'); }
h1.safesearch_ln, h2.safesearch_ln, h3.safesearch_ln { background-image: url('h1_safesearch_ln.gif'); }
h1.safesurf_ln, h2.safesurf_ln, h3.safesurf_ln { background-image: url('h1_safesurf_ln.gif'); }
h1.phone_ln, h2.phone_ln, h3.phone_ln { background-image: url('h1_phone.gif'); }
ul, ul.check, ul.nwhome { margin: 0pt 0pt 15px 10px; padding: 0pt 0pt 0pt 17px; list-style-image: url('list_bullet_default.gif'); line-height: 18px; }
ul.check { list-style-image: url('list_bullet_checkmark.gif'); }
ul.nwhome { list-style-image: url('list_bullet_darkgrey.gif'); line-height: 16px; }
p + ul, p + ul.check { margin-top: -7px; }
a, a.plain, a.window, a.dwn, a.key, a.srch, a.show, a.hide, a.back, a.cart, a.updt, a.del, a.detail, a.sh2, a.shop { text-decoration: underline; background-color: transparent; background-image: url('link_ico_default.gif'); background-repeat: no-repeat; background-position: left center; padding-left: 11px; }
a.clr, a.plain { background-image: none; padding-left: 0pt; }
a.window { background: transparent url('link_ico_newwindow.gif') no-repeat scroll left center; }
a.dwn { background: transparent url('link_ico_download.gif') no-repeat scroll left center; }
a.key { background: transparent url('link_ico_login.gif') no-repeat scroll left center; padding-left: 13px; }
a.srch { background: transparent url('link_ico_search.gif') no-repeat scroll left center; padding-left: 12px; }
a.show { background: transparent url('link_ico_showdetail.gif') no-repeat scroll left center; }
a.hide { background: transparent url('link_ico_hidedetail.gif') no-repeat scroll left center; }
a.back { background: transparent url('link_ico_back.gif') no-repeat scroll left center; }
a.cart { background: transparent url('link_ico_cart.gif') no-repeat scroll left center; padding-left: 13px; }
a.updt { background: transparent url('link_ico_refresh.gif') no-repeat scroll left center; }
a.del { background: transparent url('link_ico_delete.gif') no-repeat scroll 0pt 2px; }
a.detail { display: block; float: right; }
ul.tabs { margin: 0pt 0pt 0pt 5px ! important; padding: 0pt ! important; list-style-image: none; list-style-type: none; height: 29px; }
ul.tabs li, ul.tabs li.active { border-bottom: 1px solid rgb(201, 209, 215); padding: 0pt 0pt 0pt 7px; background: white url('tab_bg_left.gif') repeat scroll left top; margin-left: 3px; float: left; display: inline; position: relative; top: 5px; }
ul.tabs li.active { border-bottom: 1px solid white; background: white url('tab_bg_left_act.gif') repeat scroll left top; top: 5px; }
ul.tabs li a, ul.tabs li.active a { margin: 0pt; padding: 6px 7px 4px 0pt; background: transparent url('tab_bg_right.gif') no-repeat scroll right top; display: block; text-decoration: none; font-family: Verdana,sans-serif; font-size: 13px; font-weight: normal; color: rgb(0, 57, 107); cursor: pointer; }
ul.tabs li.active a { background: transparent url('tab_bg_right_act.gif') no-repeat scroll right top; font-weight: bold; color: rgb(5, 100, 173); cursor: default; }
div.tabc { margin: 0pt 0pt 10px; padding: 0pt ! important; width: 680px; clear: left; }
div.tabc_bg { background: transparent url('box680tabs_bg.gif') repeat-y scroll left top; }
div.tabc_bottom { padding: 0pt 0pt 6px; background: transparent url('box680tabs_bg_btm.gif') no-repeat scroll left bottom; }
div.tabc_top { padding: 15px 10px 4px 11px; background: transparent url('box680tabs_bg_top.gif') no-repeat scroll left top; width: 659px; }
div.tbbg, div.tbbgbtm, div.tbbgtop { width: 680px; }
div.tbbg { margin: 0pt 0pt 10px; background: transparent url('table_bg.gif') repeat-y; }
div.tbbgbtm { padding: 0pt 0pt 5px; background: transparent url('table_bg_btm.gif') no-repeat scroll left bottom; }
div.tbbgtop { padding: 1px 0pt 0pt; background: transparent url('table_bg_top.gif') no-repeat; }
div.intabbg, div.intabbtm, div.intabtop { width: 658px; }
div.intabbg { margin: 0pt 0pt 10px; background: transparent url('table_bg_intab.gif') repeat-y; }
div.intabbtm { padding: 0pt 0pt 5px; background: transparent url('table_bg_intab_btm.gif') no-repeat scroll left bottom; }
div.intabtop { padding: 1px 0pt 0pt; background: transparent url('table_bg_intab_top.gif') no-repeat; }
table.norm, table.intab { margin: 1px 1px 0px 2px; width: 677px; border-collapse: collapse; }
table.intab { width: 655px; }
table.norm td, table.intab td { border-right: 1px solid white; padding: 3px 9px 3px 7px; background-color: rgb(245, 248, 250); }
table.norm tr.dark td, table.intab tr.dark td { background-color: rgb(230, 236, 241); }
table.norm tr.plain td, table.intab tr.plain td { background-color: transparent; }
table.norm th, table.intab th, table.norm tr.head th, table.intab tr.head th { border-right: 1px solid white; padding: 6px 9px 12px 7px; background-color: transparent; font-weight: normal; }
table.norm tr.head th, table.intab tr.head th { background: transparent url('th_bg.gif') repeat-x scroll left top; }
div.awct { margin: 12px 12px 12px 0px; padding: 12px 0pt 0pt; clear: both; display: block; text-align: left; }
div.awct img, div.awct a.clr { border: 1px solid rgb(200, 210, 218); float: left; }
div.awct p { margin: 3px 0pt 0pt 108px; padding: 0px; width: auto; }
div.awct .sh2 { margin-left: 0px; }
div.box_plain_1-3, div.box_plain_2-3, div.box_plain_1-2 { margin: 3px; padding: 3px; float: left; }
div.box_plain_1-3 { width: 214px; }
div.box_plain_2-3 { width: 433px; }
div.box_plain_1-2 { width: 324px; }
div.box220in, div.box335in, div.box450in, div.box565in, div.box680in, div.box910in { padding: 5px 10px 10px; }
div.box220pl, div.box335pl, div.box450pl, div.box565pl, div.box680pl, div.box910pl { padding: 5px 10px 10px; }
div.box220greyin, div.box335greyin, div.box450greyin, div.box680greyin { padding: 5px 10px 10px; }
div.box220, div.box325, div.box335, div.box450, div.box565 { float: left; }
div.box220grey, div.box335grey, div.box450grey { float: left; }
div.box220pl, div.box335pl, div.box450pl, div.box565pl { float: left; }
div.box220, div.box335, div.box450, div.box565, div.box680, div.box910 { padding-top: 6px; }
div.box220grey, div.box335grey, div.box450grey, div.box680grey { padding-top: 6px; }
div.box220in, div.box335in, div.box450in, div.box565in, div.box910in div.box335in { min-height: 50px; }
div.box220greyin, div.box335greyin, div.box450greyin, div.box680greyin { padding: 5px 10px 10px; }
div.box220 { background: transparent url('box220_bg_top.gif') no-repeat; width: 220px; }
div.box220in, div.box220pl { background: transparent url('box220_bg_btm.gif') no-repeat scroll left bottom; width: 200px; }
div.box220pl { background-image: none; }
div.box325 { width: 325px; }
div.box335 { background: transparent url('box335_bg_top.gif') no-repeat; width: 335px; }
div.box335in, div.box335pl { background: transparent url('box335_bg_btm.gif') no-repeat scroll left bottom; width: 315px; }
div.box335pl { background-image: none; }
div.tabc_top div.box335 { background: transparent url('box335_bg_intab_top.gif') no-repeat; width: 325px; }
div.tabc_top div.box335in { background: transparent url('box335_bg_intab_btm.gif') no-repeat scroll left bottom; width: 305px; }
div.box450 { background: transparent url('box450_bg_top.gif') no-repeat; width: 450px; }
div.box450in, div.box450pl { background: transparent url('box450_bg_btm.gif') no-repeat scroll left bottom; width: 430px; }
div.box450pl { background-image: none; }
div.box565 { background: transparent url('box565_bg_top.gif') no-repeat; width: 565px; }
div.box565in, div.box565pl { background: transparent url('box565_bg_btm.gif') no-repeat scroll left bottom; width: 545px; }
div.box565pl { background-image: none; }
div.box680 { background: transparent url('box680_bg_top.gif') no-repeat; width: 680px; }
div.box680in, div.box680pl { background: transparent url('box680_bg_btm.gif') no-repeat scroll left bottom; width: 660px; }
div.box680pl { background-image: none; }
div.box910 { background: transparent url('box910_bg_top.gif') no-repeat; width: 910px; }
div.box910in, div.box910pl { background: transparent url('box910_bg_btm.gif') no-repeat scroll left bottom; width: 890px; }
div.box910pl { background-image: none; }
div.box220grey { background: transparent url('box220grey_bg_top.gif') no-repeat; width: 220px; }
div.box220greyin { background: transparent url('box220grey_bg_btm.gif') no-repeat scroll left bottom; width: 200px; }
div.box335grey { background: transparent url('box335grey_bg_top.gif') no-repeat; width: 335px; }
div.box335greyin { background: transparent url('box335grey_bg_btm.gif') no-repeat scroll left bottom; width: 315px; }
div.box450grey { background: transparent url('box450grey_bg_top.gif') no-repeat; width: 450px; }
div.box450greyin { background: transparent url('box450grey_bg_btm.gif') no-repeat scroll left bottom; width: 430px; }
div.box680grey { background: transparent url('box680grey_bg_top.gif') no-repeat; width: 680px; }
div.box680greyin { background: transparent url('box680grey_bg_btm.gif') no-repeat scroll left bottom; width: 660px; }
div.tip, div.tabc_top div.tip, div.box680in div.tip { margin: 10px 0pt; padding: 10px 0pt 0pt; background: transparent url('tip680_bg_top.gif') no-repeat; width: 680px; }
div.tabc_top div.tip, div.box680in div.tip { background: transparent url('tip680_bg_intab_top.gif') no-repeat; width: 658px; }
div.tipin, div.tabc_top div.tipin, div.box680in div.tipin { padding: 0pt 10px 10px; background: transparent url('tip680_bg_btm.gif') no-repeat scroll 0pt 100%; width: 660px; }
div.tabc_top div.tipin, div.box680in div.tipin { background: transparent url('tip680_bg_intab_btm.gif') no-repeat scroll 0pt 100%; width: 638px; }
strong.tip, b.tip { padding: 3px 0pt 3px 21px; background: transparent url('ico_tip.gif') no-repeat scroll 0pt 50%; margin-bottom: 5px; display: block; }
.bsmall { height: 160px ! important; }
.bmedium { height: 210px ! important; }
.blarge { height: 240px ! important; }
div.box_plain_1-3 h1, div.box_plain_1-3 h2, div.box_plain_1-3 h3 { margin-top: 0pt; padding-left: 0pt; }
div.box_plain_2-3 h1, div.box_plain_2-3 h2, div.box_plain_2-3 h3 { margin-top: 0pt; padding-left: 0pt; }
div.box_plain_1-2 h1, div.box_plain_1-2 h2, div.box_plain_1-2 h3 { margin-top: 0pt; padding-left: 0pt; }
div.box325 h1, div.box325 h2, div.box325 h3 { margin-top: 0pt; padding-left: 0pt; }
div.box220in h1, div.box220in h2, div.box220in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box335in h1, div.box335in h2, div.box335in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box450in h1, div.box450in h2, div.box450in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box565in h1, div.box565in h2, div.box565in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box680in h1, div.box680in h2, div.box680in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box910in h1, div.box910in h2, div.box910in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box220pl h1, div.box220pl h2, div.box220pl h3 { margin-top: 0pt; padding-left: 0pt; }
div.box335pl h1, div.box335pl h2, div.box335pl h3 { margin-top: 0pt; padding-left: 0pt; }
div.box450pl h1, div.box450pl h2, div.box450pl h3 { margin-top: 0pt; padding-left: 0pt; }
div.box565pl h1, div.box565pl h2, div.box565pl h3 { margin-top: 0pt; padding-left: 0pt; }
div.box680pl h1, div.box680pl h2, div.box680pl h3 { margin-top: 0pt; padding-left: 0pt; }
div.box910pl h1, div.box910pl h2, div.box910pl h3 { margin-top: 0pt; padding-left: 0pt; }
div.box220greyin h1, div.box220greyin h2, div.box220greyin h3 { margin-top: 0pt; padding-left: 0pt; }
div.box335greyin h1, div.box335greyin h2, div.box335greyin h3 { margin-top: 0pt; padding-left: 0pt; }
div.box450greyin h1, div.box450greyin h2, div.box450greyin h3 { margin-top: 0pt; padding-left: 0pt; }
div.box680greyin h1, div.box680greyin h2, div.box680greyin h3 { margin-top: 0pt; padding-left: 0pt; }
div.tipin h1, div.tipin h2, div.tipin h3 { margin-top: 10px; padding-left: 0pt; }
div.tabc_top h1, div.tabc_top h2, div.tabc_top h3, div.tabc_top p { margin-top: 0pt; padding-left: 0pt; }
table h1, table h2, table h3 { margin-top: 0pt; padding-left: 0pt; }
div.box_cs_in h1, div.box_cs_in h2, div.box_cs_in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box_ts_in h1, div.box_ts_in h2, div.box_ts_in h3 { margin-top: 0pt; padding-left: 0pt; }
div.box_plain_1-3 .sh1, div.box_plain_1-3 .sh2, div.box_plain_1-3 .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box_plain_2-3 .sh1, div.box_plain_2-3 .sh2, div.box_plain_2-3 .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box_plain_1-2 .sh1, div.box_plain_1-2 .sh2, div.box_plain_1-2 .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box325 .sh1, div.box325 .sh2, div.box325 .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box220in .sh1, div.box220in .sh2, div.box220in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box335in .sh1, div.box335in .sh2, div.box335in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box450in .sh1, div.box450in .sh2, div.box450in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box565in .sh1, div.box565in .sh2, div.box565in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box680in .sh1, div.box680in .sh2, div.box680in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box910in .sh1, div.box910in .sh2, div.box910in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box220pl .sh1, div.box220pl .sh2, div.box220pl .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box335pl .sh1, div.box335pl .sh2, div.box335pl .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box450pl .sh1, div.box450pl .sh2, div.box450pl .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box565pl .sh1, div.box565pl .sh2, div.box565pl .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box680pl .sh1, div.box680pl .sh2, div.box680pl .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box910pl .sh1, div.box910pl .sh2, div.box910pl .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box220greyin .sh1, div.box220greyin .sh2, div.box220greyin .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box335greyin .sh1, div.box335greyin .sh2, div.box335greyin .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box450greyin .sh1, div.box450greyin .sh2, div.box450greyin .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box680greyin .sh1, div.box680greyin .sh2, div.box680greyin .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.tipin .sh1, div.tipin .sh2, div.tipin .sh3 { margin-top: 10px; margin-left: 0pt; padding-left: 0pt; }
div.tabc_top .sh1, div.tabc_top .sh2, div.tabc_top .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box_ts_in .sh1, div.box_ts_in .sh2, div.box_ts_in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box_cs_in .sh1, div.box_cs_in .sh2, div.box_cs_in .sh3 { margin-top: 0pt; margin-left: 0pt; padding-left: 0pt; }
div.box_plain_1-3 h1.prdhdr, div.box_plain_1-3 h2.prdhdr, div.box_plain_1-3 h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box_plain_2-3 h1.prdhdr, div.box_plain_2-3 h2.prdhdr, div.box_plain_2-3 h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box_plain_1-2 h1.prdhdr, div.box_plain_1-2 h2.prdhdr, div.box_plain_1-2 h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box325 h1.prdhdr, div.box325 h2.prdhdr, div.box325 h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box220in h1.prdhdr, div.box220in h2.prdhdr, div.box220in h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box335in h1.prdhdr, div.box335in h2.prdhdr, div.box335in h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box450in h1.prdhdr, div.box450in h2.prdhdr, div.box450in h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box565in h1.prdhdr, div.box565in h2.prdhdr, div.box565in h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box680in h1.prdhdr, div.box680in h2.prdhdr, div.box680in h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box910in h1.prdhdr, div.box910in h2.prdhdr, div.box910in h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box220pl h1.prdhdr, div.box220pl h2.prdhdr, div.box220pl h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box335pl h1.prdhdr, div.box335pl h2.prdhdr, div.box335pl h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box450pl h1.prdhdr, div.box450pl h2.prdhdr, div.box450pl h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box565pl h1.prdhdr, div.box565pl h2.prdhdr, div.box565pl h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box680pl h1.prdhdr, div.box680pl h2.prdhdr, div.box680pl h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box910pl h1.prdhdr, div.box910pl h2.prdhdr, div.box910pl h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box220greyin h1.prdhdr, div.box220greyin h2.prdhdr, div.box220greyin h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box335greyin h1.prdhdr, div.box335greyin h2.prdhdr, div.box335greyin h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box450greyin h1.prdhdr, div.box450greyin h2.prdhdr, div.box450greyin h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.box680greyin h1.prdhdr, div.box680greyin h2.prdhdr, div.box680greyin h3.prdhdr { margin-top: 0pt; margin-left: 0pt; padding-left: 25px; }
div.tipin h1.prdhdr, div.tipin h2.prdhdr, div.tipin h3.prdhdr { margin-top: 0pt; margin-left: 0px; padding-left: 25px; }
div.tabc_top h1.prdhdr, div.tabc_top h2.prdhdr, div.tabc_top h3.prdhdr { margin-top: 0pt; margin-left: 0px; padding-left: 25px; }
div.box_ts_in h1.prdhdr, div.box_ts_in h2.prdhdr, div.box_ts_in h3.prdhdr { margin-top: 0pt; margin-left: 0px; padding-left: 25px; }
div.box_cs_in h1.prdhdr, div.box_cs_in h2.prdhdr, div.box_cs_in h3.prdhdr { margin-top: 0pt; margin-left: 0px; padding-left: 25px; }
div.box_plain_1-3 p { padding: 0pt; }
div.box_plain_2-3 p { padding: 0pt; }
div.box_plain_1-2 p { padding: 0pt; }
div.box325 p { padding: 0pt; }
div.box220in p { padding: 0pt; }
div.box335in p { padding: 0pt; }
div.box450in p { padding: 0pt; }
div.box565in p { padding: 0pt; }
div.box680in p { padding: 0pt; }
div.box910in p { padding: 0pt; }
div.box220pl p { padding: 0pt; }
div.box335pl p { padding: 0pt; }
div.box450pl p { padding: 0pt; }
div.box565pl p { padding: 0pt; }
div.box680pl p { padding: 0pt; }
div.box910pl p { padding: 0pt; }
div.box220greyin p { padding: 0pt; }
div.box335greyin p { padding: 0pt; }
div.box450greyin p { padding: 0pt; }
div.box680greyin p { padding: 0pt; }
div.tipin p { padding: 0pt; }
div.tabc_top p { padding: 0pt; }
table p { padding: 0pt; }
div.box_ts_in p { padding: 0pt; }
div.box_cs_in p { padding: 0pt; }
div.box_plain_1-3 ul { margin: 0pt 0pt 15px; }
div.box_plain_2-3 ul { margin: 0pt 0pt 15px; }
div.box_plain_1-2 ul { margin: 0pt 0pt 15px; }
div.box325 ul { margin: 0pt 0pt 15px; }
div.box220in ul { margin: 0pt 0pt 15px; }
div.box335in ul { margin: 0pt 0pt 15px; }
div.box450in ul { margin: 0pt 0pt 15px; }
div.box565in ul { margin: 0pt 0pt 15px; }
div.box680in ul { margin: 0pt 0pt 15px; }
div.box910in ul { margin: 0pt 0pt 15px; }
div.box220pl ul { margin: 0pt 0pt 15px; }
div.box335pl ul { margin: 0pt 0pt 15px; }
div.box450pl ul { margin: 0pt 0pt 15px; }
div.box565pl ul { margin: 0pt 0pt 15px; }
div.box680pl ul { margin: 0pt 0pt 15px; }
div.box910pl ul { margin: 0pt 0pt 15px; }
div.box220greyin ul { margin: 0pt 0pt 15px; }
div.box335greyin ul { margin: 0pt 0pt 15px; }
div.box450greyin ul { margin: 0pt 0pt 15px; }
div.box680greyin ul { margin: 0pt 0pt 15px; }
div.tabc_top ul { margin: 0pt 0pt 15px; }
div.tipin ul { margin: 0pt 0pt 15px; }
div.product ul { margin: 0pt 0pt 15px; }
div.box_ts_in ul { margin: 0pt 0pt 15px; }
div.box_cs_in ul { margin: 0pt 0pt 15px; }
div.errbox, div.okbox { background: transparent url('boxerr_bg_top.gif') no-repeat; width: 680px; padding-top: 6px; }
div.okbox { background: transparent url('boxok_bg_top.gif') no-repeat; }
div.errboxin, div.okboxin { padding: 5px 10px 10px; background: transparent url('boxerr_bg_btm.gif') no-repeat scroll left bottom; width: 660px; min-height: 45px; }
div.okboxin { background: transparent url('boxok_bg_btm.gif') no-repeat scroll left bottom; }
p.success, p.error { margin: 5px 0pt 0pt; padding: 0pt 0pt 0pt 26px; }
p.success { background: transparent url('form_ico_success.gif') no-repeat; }
p.error { background: transparent url('form_ico_warning.gif') no-repeat; }
b.error { color: rgb(207, 17, 0); }
b.success { color: rgb(0, 122, 25); }
div.box_cs, div.box_ts { padding: 0pt 0pt 10px; background: transparent url('box335_bg_btm.gif') no-repeat scroll left bottom; width: 335px; float: left; }
div.box_cs_in, div.box_ts_in { padding: 10px 10px 0pt; width: 315px; min-height: 180px; }
div.box_cs_in { background: transparent url('boxcs_bg_top.jpg') no-repeat; }
div.box_ts_in { background: transparent url('boxts_bg_top.jpg') no-repeat; }
img.flag { margin: 2px 6px 0px 0px; float: left; }
h3.cnt { margin: 0px 0px 0px 20px; }
.f_err_box, .f_ok_box { padding: 5px 5px 5px 30px ! important; background: transparent url('ico_error.gif') no-repeat; color: rgb(207, 17, 0); }
.f_ok_box { background: transparent url('ico_ok.gif') no-repeat; color: rgb(0, 153, 25); }
.f_err_msg, .f_ok_msg { font-weight: bold; }
.player { margin: 0pt auto; width: 369px; }
div.clear { overflow: hidden; visibility: hidden; clear: both; height: 1px; }
.cntbox_ico { padding-right: 3px; }
.cntbox_btm { height: 18px; clear: both; }
div.news { width: 99%; }
div.news p { margin-bottom: 0pt ! important; }
.italic {  }
.sh1, .sh2, .sh3 { font-weight: bold; }
div.spc_half { height: 5px; }
div.spc { height: 10px; }
.tleft, .a_left, td.fit_va { text-align: left ! important; }
.tright, .a_right { text-align: right ! important; }
.tcenter, .a_center { text-align: center ! important; }
.vmiddle, .fit_va, td.flb_va { vertical-align: middle; }
.vtop { vertical-align: top; }
.vbottom { vertical-align: bottom; }
.border_left { border-left: 1px solid rgb(201, 209, 215); }
.border_right { border-right: 1px solid rgb(201, 209, 215); }
.border_top { border-top: 1px solid rgb(201, 209, 215); }
.border_bottom { border-bottom: 1px solid rgb(201, 209, 215); }
.border_none { border: 0px none  ! important; }
.flleft, .fleft, .fl_left { float: left; }
.flright, .fright { float: right; }
.fnone { float: none ! important; }
.clear_right { clear: right; }
.inlel { display: inline; }
.mall { margin: 10px; }
.mleft { margin-left: 10px ! important; }
.mright { margin-right: 10px ! important; }
.mtop { margin-top: 10px ! important; }
.mbottom { margin-bottom: 10px ! important; }
.ml_half { margin-left: 5px ! important; }
.mr_half { margin-right: 5px ! important; }
.mt_half { margin-top: 5px ! important; }
.mb_half { margin-bottom: 5px ! important; }
.mln { margin-left: 0pt; }
.mrn { margin-right: 0pt; }
.mtn { margin-top: 0pt ! important; }
.mbn { margin-bottom: 0pt ! important; }
.mn { margin: 0pt ! important; }
.pn { padding: 0pt ! important; }
.ptop { padding-top: 10px; }
.pleft { padding-left: 10px; }
div.tabc_top .mleft { margin-left: 8px ! important; }
div.tabc_top .mright { margin-right: 7px ! important; }
div.tabc_top .mtop { margin-top: 8px ! important; }
div.tabc_top .mbottom { margin-bottom: 8px ! important; }
.blk { display: block; }
.nundrln { text-decoration: none; }
.nundrln:hover { text-decoration: underline ! important; }
.srchlbh, #sftxth, #sfbtnh { display: none; }
div.greybg { padding: 10px; background-color: rgb(238, 242, 245); }
.uclninput { width: 289px; }
div.video, div.vthumbs { height: 400px; float: left; }
div.video { width: 481px; margin-right: 20px; }
div.vthumbs { overflow: auto; background-color: rgb(238, 242, 245); width: 179px; }
div.nowplaying { padding: 5px 0pt; background-color: white; }
div.pagerbar_crp { padding: 3px; margin-top: 6px; text-align: center; }
div.pagerbar_crp a.pager, div.pagerbar_crp a.pager:hover, div.pagerbar_crp span.currpg { margin: 0pt 5px; padding: 3px 5px; background: transparent none repeat; text-decoration: none; color: rgb(80, 98, 115); }
div.pagerbar_crp a.next { margin-right: 9px; }
div.pagerbar_crp a.prev { margin-left: 9px; }
div.pagerbar_crp span.currpg { color: rgb(0, 0, 0); font-weight: bold; background-color: rgb(238, 242, 245); }
div.pagerbar_crp a.pager:hover, div.pagerbar_crp a.prev:hover, div.pagerbar_crp a.next:hover { color: rgb(51, 51, 51); background-color: rgb(238, 242, 245); }
div.pagerbar_crp a.next:hover { margin-right: 9px; }
div.pagerbar_crp a.prev:hover { margin-left: 9px; }
div.pagerbar_crp b { color: rgb(80, 98, 115); }
div.pagerbar_crp div.nl_left, div.pagerbar_crp div.nl_right { display: inline; }
.clbbox { overflow-x: auto; overflow-y: hidden; }
.clbbox strong {  }
#clbhide { display: none; }
#clbform { margin: 0pt; }
#clbform input { margin: 0pt; }
#clbform label { margin: 10px 0pt 0pt; padding: 0pt; display: block; }
#clbform input.submit { margin: 20px 5px 0pt 0pt; float: left; }
#clbform .stdwdt { width: 195px; }
dl { margin: 0pt; padding: 0pt; }
dt { margin: 0pt 10px 10px 0pt; padding: 0pt; float: left; }
dd { margin: 0pt 10px 10px 0pt; padding: 0pt; }
dt img { border: 1px solid rgb(200, 210, 218) ! important; }
dd h2 { clear: none; }
a.cscf, a.cscf:hover { padding: 0pt ! important; color: rgb(47, 47, 47); text-decoration: none; background-image: none; }
div.product { margin: 0pt 0pt 10px; }
div.product h1 { font-size: 18px ! important; }
div.product img { float: left; }
div.product ul.check { padding-left: 180px; }
div.sellbox { padding: 10px 0pt 0pt; background: rgb(217, 235, 247) url('sellbox_bg_top_514.gif') no-repeat; width: 514px; }
div.product div.sellbox { margin: 0pt 0pt 0pt 165px; }
div.sellboxin { padding: 0pt 6px 10px; background: rgb(217, 235, 247) url('sellbox_bg_btm_514.gif') no-repeat scroll left bottom; width: 502px; }
div.sellbox680 { padding: 10px 0pt 0pt; background: rgb(217, 235, 247) url('sellbox_bg_top_680.gif') no-repeat; width: 680px; }
div.sellboxin680 { padding: 0pt 10px 10px; background: rgb(217, 235, 247) url('sellbox_bg_btm_680.gif') no-repeat scroll left bottom; width: 660px; }
div.pdescbox { padding: 10px 0pt 0pt; background: rgb(255, 255, 255) url('pdesc_sellbox_bg_top.gif') no-repeat; width: 330px; }
div.pdescboxin { padding: 0pt 10px 10px; background: rgb(255, 255, 255) url('pdesc_sellbox_bg_btm.gif') no-repeat scroll left bottom; width: 310px; }
div.pdesctext { width: 230px; float: right; }
div.pdesctext h2 { margin-top: 0pt; padding-top: 0pt; }
a.trasha, a.trasha:hover, a.trasha:visited, a.trasha:active { background: rgb(255, 255, 255) url('trash_bin.gif') no-repeat; text-decoration: none; display: block; height: 19px; }
div.sbhomeenv, div.sbbusenv { position: relative; width: 492px; line-height: 175%; margin-left: 8px; }
div.sbhomerdo, div.sbbusrdo, div.sbfullrdo {  }
.fstrdo { border: medium none ; margin: 0pt; padding: 0pt; width: 310px; }
div.sbhomeadd, div.sbbusadd { position: absolute; bottom: -10px; right: 0px; }
div.sbfullenv { position: relative; width: 660px; line-height: 175%; }
div.sbfullclear { clear: both; }
form.sbfullnomp { margin: 0pt; padding: 0pt; }
div.crtbx680 { margin-top: 10px; }
div.crtbx680in { position: relative; }
table.crttable { width: 100%; border-collapse: collapse; }
th.crtheader { text-align: left; padding-left: 10px; color: rgb(173, 181, 188); }
td.crtitem { border-bottom: 1px solid rgb(173, 181, 188); }
div.crtpcdchko { position: absolute; right: 10px; bottom: 5px; }
div.ovrw_l, div.ovrw_s { margin: 0pt; padding: 0pt; width: 520px; float: left; }
div.ovrw_s { width: 240px; }
ul.links { margin: 0pt ! important; padding: 0pt; list-style-type: none; list-style-image: none; }
ul.links li { padding: 15px 10px 0pt 0pt; float: left; }
div.buybox, div.buybox180, div.buybox240, div.buybox300 { margin: 0pt; float: right; text-align: center; width: 120px; }
div.buybox180 { width: 180px; }
div.buybox240 { width: 240px; }
div.buybox300 { width: 300px; }
h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover { background-image: none; padding-left: 0pt; text-decoration: none; }
h1 a, h1 a:hover, h2.box a, h2.box a:hover { color: rgb(0, 57, 103); }
h2 a, h2 a:hover { color: rgb(5, 100, 173); }
h3 a, h3 a:hover { color: rgb(33, 71, 118); }
h1.prdhdr a, h2.prdhdr a, h3.prdhdr a { background-color: white; }
ul#lngsel, ul#lngsel ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; background-color: rgb(236, 244, 249); color: rgb(79, 99, 114); font-size: 10px; line-height: 13px; }
ul#lngsel { border: 1px solid rgb(182, 202, 217); margin: 0px 8px ! important; width: 250px; background-image: url('lngsel_arrow.gif'); background-repeat: no-repeat; background-position: 236px 1px; }
ul#lngsel ul { border-top: 1px solid rgb(182, 202, 217); display: none; }
ul#lngsel li.hoverable:hover ul, ul#lngsel li.hover ul { display: block; }
ul#lngsel li a { padding: 1px 1px 1px 20px; display: block; background-position: 2px 50%; background-repeat: no-repeat; }
ul#lngsel li a:hover { padding: 1px 1px 1px 20px; text-decoration: none; color: rgb(79, 99, 114); }
ul#lngsel li ul a:hover { background-color: rgb(203, 215, 227); }
div#lngselnojs { width: 200px; }
div#lngselnojs ul#lngsel ul { display: block; height: 45px; overflow-y: auto; }
ul#lngsel a.LngCountryAU { background-image: url('au.gif'); }
ul#lngsel a.LngCountryAU:hover { background-image: url('au.gif'); }
ul#lngsel a.LngCountryBRPT { background-image: url('br.gif'); }
ul#lngsel a.LngCountryBRPT:hover { background-image: url('br.gif'); }
ul#lngsel a.LngCountryCAEN { background-image: url('ca.gif'); }
ul#lngsel a.LngCountryCAEN:hover { background-image: url('ca.gif'); }
ul#lngsel a.LngCountryCAFR { background-image: url('ca.gif'); }
ul#lngsel a.LngCountryCAFR:hover { background-image: url('ca.gif'); }
ul#lngsel a.LngCountryCZ { background-image: url('cz.gif'); }
ul#lngsel a.LngCountryCZ:hover { background-image: url('cz.gif'); }
ul#lngsel a.LngCountryDE { background-image: url('de.gif'); }
ul#lngsel a.LngCountryDE:hover { background-image: url('de.gif'); }
ul#lngsel a.LngCountryFR { background-image: url('fr.gif'); }
ul#lngsel a.LngCountryFR:hover { background-image: url('fr.gif'); }
ul#lngsel a.LngCountryIE { background-image: url('ie.gif'); }
ul#lngsel a.LngCountryIE:hover { background-image: url('ie.gif'); }
ul#lngsel a.LngCountryIT { background-image: url('it.gif'); }
ul#lngsel a.LngCountryIT:hover { background-image: url('it.gif'); }
ul#lngsel a.LngCountryJP { background-image: url('jp.gif'); }
ul#lngsel a.LngCountryJP:hover { background-image: url('jp.gif'); }
ul#lngsel a.LngCountryLAES { background-image: url('laes.gif'); }
ul#lngsel a.LngCountryLAES:hover { background-image: url('laes.gif'); }
ul#lngsel a.LngCountryNL { background-image: url('nl.gif'); }
ul#lngsel a.LngCountryNL:hover { background-image: url('nl.gif'); }
ul#lngsel a.LngCountryPL { background-image: url('pl.gif'); }
ul#lngsel a.LngCountryPL:hover { background-image: url('pl.gif'); }
ul#lngsel a.LngCountrySK { background-image: url('sk.gif'); }
ul#lngsel a.LngCountrySK:hover { background-image: url('sk.gif'); }
ul#lngsel a.LngCountryUK { background-image: url('gb.gif'); }
ul#lngsel a.LngCountryUK:hover { background-image: url('gb.gif'); }
ul#lngsel a.LngCountryUS { background-image: url('us.gif'); }
ul#lngsel a.LngCountryUS:hover { background-image: url('us.gif'); }
ul#lngsel a.LngCountryWW { background-image: url('ww.gif'); }
ul#lngsel a.LngCountryWW:hover { background-image: url('ww.gif'); }
ul#lngsel { margin: 0px 15px; width: 170px; background-position: 156px 1px; }
form { margin: 10px 0pt; }
div.tabc_top form { margin: 0pt 0pt 10px; }
table.form, div.tabc_top table.form { border: 1px solid rgb(201, 209, 215); margin: 0pt; width: 680px; background-color: white; }
div.tabc_top table.form { width: 658px; }
div.form_head, div.form_warning, div.form_foot, div.tabc_top div.form_head, div.tabc_top div.form_warning, div.tabc_top div.form_foot { margin: 10px 0pt 0pt; padding: 10px; background: rgb(248, 250, 251) url('form_bg_top.gif') no-repeat; width: 660px; }
div.form_foot, div.tabc_top div.form_foot { margin: 0pt 0pt 10px; background: rgb(236, 241, 245) url('form_bg_btm.gif') no-repeat scroll left bottom; color: rgb(80, 98, 115); text-align: right; }
div.form_warning { background: rgb(252, 241, 240) url('form_bg_warning.gif') no-repeat scroll left top; }
div.form_head span { display: block; margin-top: 10px; }
div.tabc_top div.form_head, div.tabc_top div.form_warning, div.tabc_top div.form_foot { width: 638px; }
div.tabc_top div.form_head { background: rgb(248, 250, 251) url('form_bg_intab_top.gif') no-repeat; }
div.tabc_top div.form_warning { background: rgb(252, 241, 240) url('form_bg_intab_warning.gif') no-repeat scroll left top; }
div.tabc_top div.form_foot { background: rgb(236, 241, 245) url('form_bg_intab_btm.gif') no-repeat scroll left bottom; }
.whalf { width: 50%; }
#valres { background: transparent url('form_ico_warning.gif') no-repeat; padding-left: 26px; }
table.form select, #valres strong, #valres ul, .sel, .txt { font-family: Verdana,sans-serif; font-size: 11px; }
#valres ul { margin: 0pt; list-style-type: square; list-style-image: none; padding-left: 18px; }
h2.form_label { padding: 6px; }
.fit_env { border: medium none ; margin: 0px; padding: 2px; }
.fit_brd, .rccartqty { border-style: solid; border-color: rgb(196, 196, 196) rgb(222, 222, 222) rgb(222, 222, 222) rgb(196, 196, 196); border-width: 1px; }
.rccartqty { padding: 0pt; margin-right: 5px; vertical-align: middle; text-align: center; width: 20px; }
.rccartform { margin: 0pt 2px ! important; display: inline; }
.fit_env_err, .fit_brd_err { border-style: solid; border-color: rgb(216, 46, 46) rgb(239, 177, 171) rgb(239, 177, 171) rgb(216, 46, 46); border-width: 1px; }
.flb, .flb_err, .fcmnt { text-align: right; }
.flb_err { font-weight: bold; }
.fit_err { background-color: rgb(251, 236, 235); }
.fcmnt {  }
.txt { color: rgb(0, 0, 0); }
.stdwdt { width: 250px; }
a.btn, a.btn:hover, .btn { border: medium none ; background-color: transparent; color: white; height: 18px; font-weight: bold; font-size: 11px; cursor: pointer; padding-left: 22px; padding-bottom: 2px; background-repeat: no-repeat; }
a.btn, a.btn:hover { margin: 0pt auto; padding-bottom: 0pt; text-decoration: none; text-align: center; vertical-align: middle; line-height: 18px; }
.btn_90, a.btn_90, .btn_arrow_90 { background-image: url('btn_bg_90.gif'); width: 90px; }
.btn_120, a.btn_120, .btn_arrow_120 { background-image: url('btn_bg_120.gif'); width: 120px; }
.btn_150, a.btn_150, .btn_arrow_150 { background-image: url('btn_bg_150.gif'); width: 150px; }
.btn_180, a.btn_180, .btn_arrow_180 { background-image: url('btn_bg_180.gif'); width: 180px; }
.btn_210, a.btn_210, .btn_arrow_210 { background-image: url('btn_bg_210.gif'); width: 210px; }
.btn_240, a.btn_240, .btn_arrow_240 { background-image: url('btn_bg_240.gif'); width: 240px; }
.btn_270, a.btn_270, .btn_arrow_270 { background-image: url('btn_bg_270.gif'); width: 270px; }
.btn_300, a.btn_300, .btn_arrow_300 { background-image: url('btn_bg_300.gif'); width: 300px; }
.btn_back_90 { background-image: url('btn_bg_back_90.gif'); width: 90px; }
.btn_back_120 { background-image: url('btn_bg_back_120.gif'); width: 120px; }
.btn_back_150 { background-image: url('btn_bg_back_150.gif'); width: 150px; }
.btn_back_180 { background-image: url('btn_bg_back_180.gif'); width: 180px; }
.btn_back_210 { background-image: url('btn_bg_back_210.gif'); width: 210px; }
.btn_back_240 { background-image: url('btn_bg_back_240.gif'); width: 240px; }
.btn_back_270 { background-image: url('btn_bg_back_270.gif'); width: 270px; }
.btn_back_300 { background-image: url('btn_bg_back_300.gif'); width: 300px; }
.btn_light_90 { background-image: url('btn_bg_light_90.gif'); width: 90px; color: rgb(0, 57, 107); }
.btn_light_120 { background-image: url('btn_bg_light_120.gif'); width: 120px; color: rgb(0, 57, 107); }
.btn_light_150 { background-image: url('btn_bg_light_150.gif'); width: 150px; color: rgb(0, 57, 107); }
.btn_light_180 { background-image: url('btn_bg_light_180.gif'); width: 180px; color: rgb(0, 57, 107); }
.btn_light_210 { background-image: url('btn_bg_light_210.gif'); width: 210px; color: rgb(0, 57, 107); }
.btn_light_240 { background-image: url('btn_bg_light_240.gif'); width: 240px; color: rgb(0, 57, 107); }
.btn_medium_90, a.btn_medium_90 { background-image: url('btn_bg_medium_90.gif'); width: 90px; height: 22px; }
.btn_medium_120, a.btn_medium_120 { background-image: url('btn_bg_medium_120.gif'); width: 120px; height: 22px; }
.btn_medium_150, a.btn_medium_150 { background-image: url('btn_bg_medium_150.gif'); width: 150px; height: 22px; }
.btn_medium_180, a.btn_medium_180 { background-image: url('btn_bg_medium_180.gif'); width: 180px; height: 22px; }
.btn_medium_210, a.btn_medium_210 { background-image: url('btn_bg_medium_210.gif'); width: 210px; height: 22px; }
.btn_medium_240, a.btn_medium_240 { background-image: url('btn_bg_medium_240.gif'); width: 240px; height: 22px; }
.btn_medium_270, a.btn_medium_270 { background-image: url('btn_bg_medium_270.gif'); width: 270px; height: 22px; }
.btn_medium_300, a.btn_medium_300 { background-image: url('btn_bg_medium_300.gif'); width: 300px; height: 22px; }
a.btn_medium_90, a.btn_medium_120, a.btn_medium_150, a.btn_medium_180, a.btn_medium_210, a.btn_medium_240, a.btn_medium_270, a.btn_medium_300 { line-height: 22px; }
a.btn_medium_90:hover, a.btn_medium_120:hover, a.btn_medium_150:hover, a.btn_medium_180:hover, a.btn_medium_210:hover, a.btn_medium_240:hover, a.btn_medium_270:hover, a.btn_medium_300:hover { height: 22px; line-height: 22px; }
.btn_large_90, a.btn_large_90 { background-image: url('btn_bg_large_90.gif'); width: 90px; height: 27px; }
.btn_large_120, a.btn_large_120 { background-image: url('btn_bg_large_120.gif'); width: 120px; height: 27px; }
.btn_large_150, a.btn_large_150 { background-image: url('btn_bg_large_150.gif'); width: 150px; height: 27px; }
.btn_large_180, a.btn_large_180 { background-image: url('btn_bg_large_180.gif'); width: 180px; height: 27px; }
.btn_large_210, a.btn_large_210 { background-image: url('btn_bg_large_210.gif'); width: 210px; height: 27px; }
.btn_large_240, a.btn_large_240 { background-image: url('btn_bg_large_240.gif'); width: 240px; height: 27px; }
.btn_large_270, a.btn_large_270 { background-image: url('btn_bg_large_270.gif'); width: 270px; height: 27px; }
.btn_large_300, a.btn_large_300 { background-image: url('btn_bg_large_300.gif'); width: 300px; height: 27px; }
.btn_back_large_90 { background-image: url('btn_bg_back_large_90.gif'); width: 90px; height: 27px; }
.btn_back_large_120 { background-image: url('btn_bg_back_large_120.gif'); width: 120px; height: 27px; }
.btn_back_large_150 { background-image: url('btn_bg_back_large_150.gif'); width: 150px; height: 27px; }
.btn_back_large_180 { background-image: url('btn_bg_back_large_180.gif'); width: 180px; height: 27px; }
.btn_back_large_210 { background-image: url('btn_bg_back_large_210.gif'); width: 210px; height: 27px; }
.btn_back_large_240 { background-image: url('btn_bg_back_large_240.gif'); width: 240px; height: 27px; }
.btn_back_large_270 { background-image: url('btn_bg_back_large_270.gif'); width: 270px; height: 27px; }
.btn_back_large_300 { background-image: url('btn_bg_back_large_300.gif'); width: 300px; height: 27px; }
.btn_cart_large_90, a.btn_cart_large_90 { background-image: url('btn_bg_cart_large_90.gif'); width: 90px; height: 27px; padding-left: 32px; }
.btn_cart_large_120, a.btn_cart_large_120 { background-image: url('btn_bg_cart_large_120.gif'); width: 120px; height: 27px; padding-left: 32px; }
.btn_cart_large_150, a.btn_cart_large_150 { background-image: url('btn_bg_cart_large_150.gif'); width: 150px; height: 27px; padding-left: 32px; }
.btn_cart_large_180, a.btn_cart_large_180 { background-image: url('btn_bg_cart_large_180.gif'); width: 180px; height: 27px; padding-left: 32px; }
.btn_cart_large_210, a.btn_cart_large_210 { background-image: url('btn_bg_cart_large_210.gif'); width: 210px; height: 27px; padding-left: 32px; }
.btn_cart_large_240, a.btn_cart_large_240 { background-image: url('btn_bg_cart_large_240.gif'); width: 240px; height: 27px; padding-left: 32px; }
.btn_cart_large_270, a.btn_cart_large_270 { background-image: url('btn_bg_cart_large_270.gif'); width: 270px; height: 27px; padding-left: 32px; }
.btn_cart_large_300, a.btn_cart_large_300 { background-image: url('btn_bg_cart_large_300.gif'); width: 300px; height: 27px; padding-left: 32px; }
a.btn_large_90, a.btn_large_120, a.btn_large_150, a.btn_large_180, a.btn_large_210, a.btn_large_240, a.btn_large_270, a.btn_large_300 { line-height: 27px; }
a.btn_large_90:hover, a.btn_large_120:hover, a.btn_large_150:hover, a.btn_large_180:hover, a.btn_large_210:hover, a.btn_large_240:hover, a.btn_large_270:hover, a.btn_large_300:hover { height: 27px; line-height: 27px; }
a.btn_cart_large_90, a.btn_cart_large_120, a.btn_cart_large_150, a.btn_cart_large_180, a.btn_cart_large_210, a.btn_cart_large_240, a.btn_cart_large_270, a.btn_cart_large_300 { line-height: 27px; }
a.btn_cart_large_90:hover, a.btn_cart_large_120:hover, a.btn_cart_large_150:hover, a.btn_cart_large_180:hover, a.btn_cart_large_210:hover, a.btn_cart_large_240:hover, a.btn_cart_large_270:hover, a.btn_cart_large_300:hover { height: 27px; line-height: 27px; }
a.btn_90, a.btn_medium_90, a.btn_large_90 { width: 68px; }
a.btn_120, a.btn_medium_120, a.btn_large_120 { width: 98px; }
a.btn_150, a.btn_medium_150, a.btn_large_150 { width: 128px; }
a.btn_180, a.btn_medium_180, a.btn_large_180 { width: 158px; }
a.btn_210, a.btn_medium_210, a.btn_large_210 { width: 188px; }
a.btn_240, a.btn_medium_240, a.btn_large_240 { width: 218px; }
a.btn_270, a.btn_medium_270, a.btn_large_270 { width: 248px; }
a.btn_300, a.btn_medium_300, a.btn_large_300 { width: 278px; }
a.btn_cart_large_90 { width: 58px; }
a.btn_cart_large_120 { width: 88px; }
a.btn_cart_large_150 { width: 118px; }
a.btn_cart_large_180 { width: 148px; }
a.btn_cart_large_210 { width: 178px; }
a.btn_cart_large_240 { width: 208px; }
a.btn_cart_large_270 { width: 238px; }
a.btn_cart_large_300 { width: 268px; }
.btn_yes, .btn_no { border: medium none ; background: white url('ico_yes.gif') no-repeat scroll 0% 50%; color: rgb(102, 180, 97); height: 18px; font-weight: bold; font-size: 12px; cursor: pointer; padding-left: 10px; }
.btn_no { background: white url('ico_no.gif') no-repeat scroll 0% 50%; color: rgb(204, 63, 51); }
